.hero-box {
  height: 450px;
  background-color: #0f172a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  overflow: hidden;
}

/* TEXT */
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
}

.hero-title {
  color: #f8fafc;
  font-size: 2.8rem;
  line-height: 1.2;
}

.hero-name {
  color: #38bdf8;
  transition: opacity 0.3s ease;
}
.hero-skills {
  color: #94a3b8;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.hero-about {
  color: #e5e7eb;
  font-size: 1.1rem;
  max-width: 450px;
}

/* IMAGE */
.hero-image img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #38bdf8;

  /* Fade-in animation */
  opacity: 0;
  animation: fadeInImage 1.2s ease-out forwards;
  animation-delay: 0.3s;
}
@keyframes fadeInImage {
  from {
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translate(0%);
  }
}